/* 
------------------------------------------------------------------------------------------------------------------------------------
	#Global variables
------------------------------------------------------------------------------------------------------------------------------------
*/

$color-orange: #ff6006;
$color-orange-plus1: #ff8d07;
$color-orange-plus2: #ffbc97;
$color-orange-minus1: #ff4800;
$color-orange-minus2: #ff2800;

$color-purple: #7700fc;
$color-purple-plus1: #cc30ff;
$color-purple-plus2: #efc6ff;
$color-purple-minus1: #5c058a;
$color-purple-minus2: #420093;

$color-yellow: #e9ff09;
$color-yellow-plus1: #f5ff23;
$color-yellow-plus2: #e8ff85;
$color-yellow-minus1: #cbff22;
// $color-yellow-minus2:				#420093;

$color-blue: #00f3ff;
$color-blue-plus1: #00feff;
$color-blue-plus2: #9ffcfc;
$color-blue-minus1: #00e7ff;
$color-blue-minus2: #00d1ff;

$color-pink: #fe1f7a;
$color-pink-plus1: #ff28c9;
$color-pink-plus2: #ffcbe5;
$color-pink-minus1: #fd0037;
$color-pink-minus2: #fb000b;

$color-system-black: #000;
$color-system-red: #f40b3f;
$color-system-green: #1dec63;
$color-system-white: #fff;

$gradient1: linear-gradient(180deg, #cc2fff, #ff6005);
$gradient2: linear-gradient(180deg, #f40b3f, #fd1f79);
$gradient3: linear-gradient(180deg, #cc2fff, #caff21);
$gradient4: linear-gradient(180deg, #fd4d6b, #1ceb62);
$gradient5: linear-gradient(180deg, #fd4d6b, #5b0489);
$gradient6: linear-gradient(180deg, #ff6005, #00f2ff);
$gradient7: linear-gradient(180deg, #fd4d6b, #ff6005);
$gradient8: linear-gradient(180deg, #1ceb62, #00f2ff);

// Typography
$base-font-sans-serif: "Atten New", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-serif: "Times New Roman", "Times", "Baskerville", "Georgia", serif;
$base-font-family: $base-font-sans-serif !default;

$font-size-base-mobile: 12px;
$line-height-base-mobile: 16px;
$font-size-base-desktop: 14px;
$line-height-base-desktop: 24px;

$h1-font-size-mobile: 16px;
$h1-line-height-mobile: 21px;
$h1-font-size-desktop: 24px;
$h1-line-height-desktop: 32px;

$h2-font-size-mobile: 12px;
$h2-line-height-mobile: 16px;
$h2-font-size-desktop: 16px;
$h2-line-height-desktop: 21px;

$h3-font-size-mobile: 9px;
$h3-line-height-mobile: 12px;
$h3-font-size-desktop: 14px;
$h3-line-height-desktop: 19px;

$h4-font-size-mobile: 7px;
$h4-line-height-mobile: 9px;
$h4-font-size-desktop: 7px;
$h4-line-height-desktop: 9px;

// Body
$base-text-color: $color-system-black;
$base-background-color: $color-system-white;

$base-min-width: 320px;

/* 
------------------------------------------------------------------------------------------------------------------------------------
	#Custom styles for Product page
------------------------------------------------------------------------------------------------------------------------------------
*/
.template-product{
	.main-content{
		padding: 0;
	}
}

.section-product-template{
	padding: 13px 0 0;
}

.main-product-slider{
	padding: 0 0 10px;
	.nav{
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	.product-single__media-wrapper{
		&.hide {
			display: block !important;
		}
	}
}

.product-single__media-group{
	margin: 0;
}