<section class="section-promo-list">
	<div class="container container-fluid">
		<ul class="font-size-subheading">
			<li> <strong class="title">current promo</strong>
				<p>20% off Category</p>
			</li>
			<li> <strong class="title">current promo</strong>
				<p>20% off Category</p>
			</li>
		</ul>
	</div>
</section>

<section class="section-category-filter">
	<div class="container">
		<div class="title-holder">
			<h1>Makeup</h1>
		</div>
		<div class="filter-list-holder">
			<div><a class="btn btn-back" href="#">Back to main</a></div>
			<div>
				<div class="filters-list font-size-small js-filters-slider">
					<div><a class="active" href="#"><span class="icon"></span>All Makeup</a></div>
					<div><a href="#"><span class="icon"></span>Eyes</a></div>
					<div><a href="#"><span class="icon"></span>Lips</a></div>
					<div><a href="#"><span class="icon"></span>Cheek</a></div>
					<div><a href="#"><span class="icon"></span>Brows</a></div>
					<div><a href="#"><span class="icon"></span>Lips</a></div>
					<div><a href="#"><span class="icon"></span>Face</a></div>
					<div><a href="#"><span class="icon"></span>Face</a></div>
					<div><a href="#"><span class="icon"></span>Face</a></div>
				</div>
			</div>
		</div>
		<div class="filter-buttons-holder">
			<div><a class="btn" href="#">sort</a></div>
			<div><a class="btn" href="#">filter</a></div>
		</div>
	</div>
</section>

{% comment %}
The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}