<section class="section-promo-list">
	<div class="container container-fluid">
		<ul class="font-size-subheading">
			<li> <strong class="title">current promo</strong>
				<p>20% off Category</p>
			</li>
			<li> <strong class="title">current promo</strong>
				<p>20% off Category</p>
			</li>
		</ul>
	</div>
</section>

<section class="section-sale-counter">
	<div class="container">
		<div class="counter">counter</div>
	</div>
</section>


{{ content_for_index }}